.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 246px;
  padding-bottom: 60px;
  margin: auto;
}

.not-found__tittle {
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
  margin: 0;
}

.not-found__subtittle {
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 184px;
  text-align: center;
}

.not-found__link {
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  cursor: pointer;
  transition: all linear 0.1s;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .not-found {
    padding-top: 408px;
    padding-bottom: 222px;
  }
}

@media screen and (max-width: 420px) {
  .not-found {
    padding-top: 329px;
    padding-bottom: 30px;
  }

  .not-found__tittle {
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtittle {
    font-size: 12px;
    line-height: 14.52px;
    padding-top: 10px;
    padding-bottom: 284px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 14.52px;
  }
}
