.navigation {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.navigation__main {
  display: none;
}

.navigation__buttons {
  padding-right: 20px;
}

.navigation__buttons:last-of-type {
  padding-right: 0;
}

.navigation__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.1s linear;
}

.navigation__button:hover {
  opacity: 0.7;
}

.active {
  font-weight: 500;
}

.navigation__profile {
  display: flex;
  align-items: center;
  margin-left: 30px;
  text-decoration: none;
  transition: all 0.1s linear;
}

.navigation__profile:hover {
  opacity: 0.7;
}

.navigation__profile-text {
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  color: #FFFFFF;
}

.navigation__profile-logo {
  height: 26px;
  width: 26px;
  padding-left: 7px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
    padding-top: 106px;
  }

  .navigation__main {
    display: block;
  }

  .navigation__buttons {
    padding-right: 0;
    padding-bottom: 28px;
  }

  .navigation__button {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-decoration: none;
  }

  .navigation__profile {
    margin: 0;
    margin-top: 50vh;
  }

  .active {
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 420px) {
  .navigation__profile {
    margin-top: 56vh;
  }
}

