.header {
  background-color: #073042;
}

.header_background_black {
  background-color: inherit;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__button-register {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: transparent;
  color: #FFFFFF;
  padding-right: 30px;
  text-decoration: none;
}

.header__button-login {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: #3DDC84;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 3px;
  color: #000000;
}

.header__profile {
  display: flex;
  align-items: center;
  margin-left: 61px;
  text-decoration: none;
}

.header__profile-text {
  font-size: 13px;
  line-height: 12px;
  font-weight: 500;
  color: #FFFFFF;
}

.header__profile-logo {
  height: 26px;
  width: 26px;
  padding-left: 7px;
}

@media screen and (max-width: 420px) {
  .header {
    padding-right: 4px;
    padding-left: 4px;
  }
}
