.header {
  background-color: #073042;
}

.header__container {
  display: flex;
  justify-content: space-between;
  min-height: 74px;
  align-items: center;
}

.header__logo {
  width: 38px;
  height: 38px;
}

.header__buttton-register {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  padding-right: 30px;
}

.header__buttton-login {
  height: 32px;
  width: 76px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  background-color: #3DDC84;
  border: none;
  border-radius: 3px;
}
